<!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" href=" {{ url_for('static', filename='assets/css/addEngineer.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <title>ICU | Add Engineer</title>

      
   </head>

    <body>
      <div class="page-wrapper">
        <div class="nav-wrapper">
         <div class="grad-bar"></div>
         <nav class="navbar">
           <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/ICU_logo.jpg" alt="Company Logo">
           <div class="menu-toggle" id="mobile-menu">
             <span class="bar"></span>
             <span class="bar"></span>
             <span class="bar"></span>
           </div>
           <ul class="nav no-search">
             <li class="nav-item"><a href="http://localhost:5000/">Home</a></li>
             <li class="nav-item"><a href="http://localhost:5000/engineerPortal">Engineer Portal</a></li>
             <li class="nav-item"><a href="http://localhost:5000/viewengineerTable">View Engineer Table</a></li>
             <li class="nav-item"><a href="http://localhost:5000/engtodev">Add Engineer To Device</a></li>
           </ul>
         </nav>
         </div>
         <section class="headline">
           <h1>Add Engineer</h1>
         </section>
         <section class="features">
          <form action="http://127.0.0.1:5000/addengineer", method = 'POST',style="border:1px solid #ccc">
            <div class="container">
              <p>Please fill in this form to create an account.</p>
              <hr>
              <h1>{{error}}</h1>
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" class="form-control form-control-lg" name="eemail" required>
          
              <label for="ssn"><b>SSN</b></label>
              <input type="text" placeholder="Enter SSN" class="form-control form-control-lg" name="essn" required>
          
              <label for="ID"><b>ID</b></label>
              <input type="text" placeholder="Enter ID" class="form-control form-control-lg" name="eID" min="1" required>
          
              <label for="Fnme"><b>First Name</b></label>
              <input type="text" placeholder="Enter First Name" class="form-control form-control-lg" name="efnme" required>
          
              <label for="Lname"><b>Last Name</b></label>
              <input type="text" placeholder="Enter Last Name" class="form-control form-control-lg" name="eLname" required>
          
              <label for="telephone"><b> Telephone </b></label>
              <input type="tel" placeholder="Enter telephone number" class="form-control form-control-lg" name="etelephone" required>

              <br>
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" class="form-control form-control-lg" name="epsw" required>

              <br>
              <br>
          
              <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
              </div>
            </div>
          </form>
          
         </section>
       </div>
    </body>

    <script>
      $("#search-icon").click(function() {
      $(".nav").toggleClass("search");
      $(".nav").toggleClass("no-search");
      $(".search-input").toggleClass("search-active");
    });

    $('.menu-toggle').click(function(){
      $(".nav").toggleClass("mobile-nav");
      $(this).toggleClass("is-active");
    });
    </script>
  
</html>

