<!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href=" {{ url_for('static', filename='assets/css/nurseTable.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <title>ICU | View Dcotors' Patient Table</title>
   </head>

   <body>
    <div class="page-wrapper">
      <div class="nav-wrapper">
       <div class="grad-bar"></div>
       <nav class="navbar">
         <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/ICU_logo.jpg" alt="Company Logo">
         <div class="menu-toggle" id="mobile-menu">
           <span class="bar"></span>
           <span class="bar"></span>
           <span class="bar"></span>
         </div>
         <ul class="nav no-search">
           <li class="nav-item"><a href="http://localhost:5000/">Home</a></li>&nbsp;
           <li class="nav-item"><a href="http://localhost:5000/patientPortal">Patient Portal</a></li>&nbsp;
           <li class="nav-item"><a href="http://localhost:5000/doctorPortal">Doctor Portal</a></li>
         </ul>
       </nav>
       </div>
       <section class="features">
        <div class="container">
            <h1>Show Doctor's Patient</h1>
            <br>
            <h4 style="color: white;">Doctor Name: {{doc.0}} {{doc.1}}</h4>    
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>SSN</th>
                      <th>ID</th>
                      <th>Room Number</th>
                      <th>Phone Number</th>
                      <th>Email</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  {% for record in data.rec %}
                  <tr>
                  <td>{{record.0}}</td>
                  <td>{{record.1}}</td>
                  <td>{{record.2}}</td>
                  <td>{{record.3}}</td>
                  <td>0{{record.6}}</td>
                  <td>{{record.5}}</td>
                  <td>{{record.4}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
       </section>
     </div>
  </body>

  <script>
  $('.menu-toggle').click(function(){
    $(".nav").toggleClass("mobile-nav");
    $(this).toggleClass("is-active");
  });
  </script>
</html>