<!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href=" {{ url_for('static', filename='assets/css/nurseTable.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <title>ICU | View Devices Table</title>
   </head>

   <body>
    <div class="page-wrapper">
      <div class="nav-wrapper">
       <div class="grad-bar"></div>
       <nav class="navbar">
         <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/ICU_logo.jpg" alt="Company Logo">
         <div class="menu-toggle" id="mobile-menu">
           <span class="bar"></span>
           <span class="bar"></span>
           <span class="bar"></span>
         </div>
         <ul class="nav no-search">
           <li class="nav-item"><a href="http://localhost:5000/">Home</a></li>
           <li class="nav-item"><a href="http://localhost:5000/adddevice">Add Device</a></li>
           <li class="nav-item"><a href="http://localhost:5000/devicePortal">Device Portal</a></li>
           <li class="nav-item"><a href="http://localhost:5000/engtodev">Add Engineer To Device</a></li>
         </ul>
       </nav>
       </div>
       <section class="features">
         <div class="container">
            <h1>View Devices Table</h1>   
          <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
              <thead>
                <tr>
                  <th>Device ID</th>
                  <th>Device Name</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                {% for record in data.rec %}
                <tr>
                <td>{{record.0}}</td>
                <td>{{record.1}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>
     </div>
  </body>

  <script>
  $('.menu-toggle').click(function(){
    $(".nav").toggleClass("mobile-nav");
    $(this).toggleClass("is-active");
  });
  </script>
</html>